@(userForm: Form[User])(implicit messages: Messages)

@import helper._

@main("Add a User"){

<div class="container">
    <div class="form-add">

        <div class="form-header">
            <h2>Add a User</h2>
        </div>

            @helper.form(action = routes.Users.save) {
                @inputText(
                userForm("name"),
                '_label -> "Name"
                )

                @inputText(
                userForm("email"),
                '_label -> "Email"
                )

        <div class="form-button">
            <button class="btn btn-lg btn-primary type="submit">Add User</button>
        </div>


        <div class="cancel">
            <a href="@routes.Users.index">Cancel</a>
        </div>

    }
    </div>
</div>

}